.titulo1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-top: 10%;
    text-align: center;
color: rgb(70, 70, 70);

}
.subtitulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
color: rgb(155, 77, 77);

}